[Unit]
Description=HipHop Virtual Machine

[Service]
ExecStart=/usr/bin/hhvm -m daemon -u vagrant -c /etc/hhvm/server.ini -c /etc/hhvm/php.ini
ExecStop=rm /var/run/hhvm.pid
PIDFile=/var/run/hhvm.pid

[Install]
WantedBy=multi-user.target
